<!-- Form -->
<section class="wrapper align-center" id="osa">
        <div class="inner">
            <h2>{{ .title }}</h2>
            <p>{{ .content | safeHTML }}</p>
            <div class="form">
    <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Namn: <input type="text" name="namn" /></label>   
    </p>
    <p>
      <label>Specialkost (allt som serveras är vegetariskt): <input type="text" name="mat" /></label>   
    </p>
    <p>
      <label>Önskelåt som får dansgolvet att explodera: <input type="text" name="dans" /></label>   
    </p>
    <p>
      <input type="checkbox" value="ja" id="brunch" name="brunch" />
        <label for="brunch">Jag/vi vill vara med på brunch för tillresta</label>
    </p>
    <p>
      <input type="checkbox" value="ja" id="transport" name="transport" />
        <label for="transport">Jag/vi vill <strong>inte</strong> delta på<a href="#festen" class="smooth-scroll-middle"> gemensam festpepp på väg till festen</a></label>
    </p>
    <p>
      <button type="submit" class="primary">Hurra för fest!</button>
    </p>
  </form>
</div>
</section>